@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

image{ 
    display: block;
    max-width: 100%;
    height: auto;
}

/* UTILITY CLASSES */
.nowrap{
    white-space: nowrap;
}

/* BASIC DESIGNS */
html{ scroll-behavior: smooth;}

body{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    min-height: 100vh;

    background-color: hsl(0, 0%, 0%);
    display: flex;
    flex-direction: column;
}

header,
footer{
    position: sticky;
    background-color: #343333ba;
    color:#fff;
    text-align: center;
}

header{
    top: 0;
}

nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

footer{
    bottom: 0;
}

nav a , nav a:visited{
    color: #fff;
    text-decoration: none;
}

nav a:hover{
    color: #a39f9f;
    text-decoration: none;
}

/* CARD DESIGN */

.card{
    scroll-margin-top: 5em;
    width: min(100%,450px);
    background-color: #ffffffe3;
    color: black;
    border-radius: 30px;
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
}

.card figure{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.card img{
    width: min(100%,350px);
    border: 5px solid #a39f9f;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.card figcaption{
    font-weight: bolder;
    font-size: large;
    text-align: center;
}

.card p{
    text-align: justify;
}

@media screen and (min-width: 955px) {
    main{
        justify-content: center;
        flex-flow: row wrap;
    }

    .card{
        height: max(100%,700px);
    }

    nav{
        display: none;
    }
}